
<div class="row">
    <div class="col-lg-12">
        <h3 class="subtitle">All types</h3>
    </div>
</div>
<div class="row justify-content-evenly" id="productmain">
    <div class="col-lg-3"><h4 class="subtitle ">LoRa Sensor (Temp. & Humidity)</h4></br>
        <div class="text-center" id="imgframe">
            <img src="./public/images/sensor_TH.png" class="product_IMG" ><br/>
            <a type = "button" class="btn btn-primary product_btn" href="./application/core/view/product/Sensor/DM_Temperature _ Humidity Sensor_0723.pdf" download>Click Download</a>
        </div>
    </div>
    <div class="col-lg-3 offset-lg-1"><h4 class="subtitle ">LoRa Sensor (Light)</h4></br>
        <div class="text-center" id="imgframe">
            <img src="./public/images/sensor_L.png" class="product_IMG" >
            <br/>
            <a type = "button" class="btn btn-primary product_btn" href="./application/core/view/product/Sensor/DM_Ambient Light Sensor_20210308 (BQW_03_0017.pdf" download>Click Download</a>
        </div>
    </div>
    <div class="col-lg-3 offset-lg-1"><h4 class="subtitle ">LoRa Sensor (Motion)</h4></br>
        <div class="text-center" id="imgframe">
            <img src="./public/images/sensor_M.png" class="product_IMG" ><br/>
            <a type = "button" class="btn btn-primary product_btn" href="./application/core/view/product/Sensor/DM_PIR Sensor_0723 (1).pdf" download>Click Download</a>
        </div>
    </div>
</div>
<div class="row justify-content-evenly" id="productmain">
    <div class="col-lg-3"><h4 class="subtitle ">LoRa Sensor (Door)</h4></br>
        <div class="text-center" id="imgframe">
            <img src="./public/images/sensor_D.png" class="product_IMG" ><br/>
            <a type = "button" class="btn btn-primary product_btn" href="./application/core/view/product/Sensor/DM_Door Window Sensor_0723.pdf" download>Click Download</a>
        </div>
    </div>
    <div class="col-lg-3 offset-lg-1"><h4 class="subtitle ">LoRa Sensor (Sound Level)</h4></br>
        <div class="text-center" id="imgframe">
            <img src="./public/images/sensor_S.png" class="product_IMG" ><br/>
            <a type = "button" class="btn btn-primary product_btn" href="./application/core/view/product/Sensor/DM_Sound Level Sensor_20210308 (BQW_03_0024.pdf" download>Click Download</a>
        </div>
    </div>
    <div class="col-lg-3 offset-lg-1"><h4 class="subtitle ">LoRa Sensor (Water Leak)</h4></br>
        <div class="text-center" id="imgframe">
            <img src="./public/images/sensor_W.png" class="product_IMG" ><br/>
            <a type = "button" class="btn btn-primary product_btn" href="./application/core/view/product/Sensor/DM_Water Leak Sensor_20210308 (BQW_03_0025.pdf" download enable="false">Click Download</a>
        </div>
    </div>
</div>
<div class="row justify-content-evenly" id="productmain">
    <div class="col-lg-3"><h4 class="subtitle ">LoRa Sensor (Healthy Home)</h4></br>
        <div class="text-center" id="imgframe">
            <img src="./public/images/sensor_Health.png" class="product_IMG" ><br/>
            <a type = "button" class="btn btn-primary product_btn" href="./application/core/view/product/Sensor/RM_Motion Sensor(PIR)_20200506 (BQW_02_0006.pdf" download enable="false">Click Download</a>
        </div>
    </div>
</div>

<p>For more information please <a href="#contactus" id ="contactUsdrop">Contact us</a></p></br>