<div class="row">
    <div class="col-lg-12">
        <h3 class="subtitle">Feature</h3>
    </div>
</div>
<div class="row">
    <div class="text-center" id="imgframe">
        <img src="./public/images/S7678S.png" class="product_IMG" >
    </div>
</div>

<div class="row" id="productmain">
    <div class="col-lg-5 "><h4 class="subtitle ">Block Diagram</h4></br>
        <img src="./public/images/S76S-FB.png" class="img-fluid function_Block" >
    </div>
    <div class="col-lg-5 offset-lg-2"><h4 class="subtitle ">Hardware System</h4></br>
        <ol>
        <li><p>For more information please download product brief on buttom or <a href=#contactus>contact us</a></li>
        </ol></br>
    </div>
</div>

<div class ="row">
    <div class="col-lg-12 text-center">
    
        <h4 class="subtitle ">Document Download</h4></br>
        <h5>Product Brief:<a href="./application/core/view/product/S76S/S76S_Brief_ver02.pdf" download>S76S productbrief</a></h5>
        <p>For more information please <a href="#contactus" id ="contactUsdrop">Contact us</a></p></br>
    </div>
</div>
