
<div class="row">
    <div class="col-lg-12">
        <h2 class="subtitle">All types</h2>
    </div>
</div>
<div class="row justify-content-evenly" id="productmain">
    <div class="col-lg-3">
        <h4 class="subtitle ">Helium Hotspot Miner V1</h4></br>
        <div class="text-center" id="imgframe">
            <img src="./public/images/MerryIoT_Miner.png" class="product_IMG"><br />
            <a type="button" class="btn btn-secondary product_btn disabled"
                href="./application/core/view/product/MerryIot/Door Window Sensor generic 0827.pdf"
                aria-disabled="true">Click Download</a>
        </div>
    </div>
    <div class="col-lg-3 offset-lg-1"><h4 class="subtitle ">Motion Detector</h4></br>
        <div class="text-center" id="imgframe">
            <img src="./public/images/MerryIoT_Motion-1.png" class="product_IMG" >
            <br/>
            <a type = "button" class="btn btn-primary product_btn" href="./application/core/view/product/MerryIot/Motion Sensor generic 0825.pdf" download>Click Download</a>
        </div>
    </div>
</div>
<div class="row justify-content-evenly" id="productmain">
    <div class="col-lg-3">
        <h4 class="subtitle">Open/Close Sensor</h4></br>
        <div class="text-center" id="imgframe">
            <img src="./public/images/MerryIoT_Door.png" class="product_IMG" ><br/>
          <a type = "button" class="btn btn-primary product_btn" href="./application/core/view/product/MerryIot/Door Window Sensor generic 0827.pdf" download>Click Download</a>
        </div>
    </div>
    <div class="col-lg-3 offset-lg-1"><h4 class="subtitle ">Leak Detector</h4></br>
        <div class="text-center" id="imgframe">
            <img src="./public/images/MerryIoT_Leak.png" class="product_IMG" ><br/>
          <a type = "button" class="btn btn-primary product_btn" href="./application/core/view/product/MerryIot/Water Leak Sensor generic 0825.pdf" download>Click Download</a>
        </div>
    </div>
</div>
<div class="row justify-content-evenly" id="productmain">
        <div class="col-lg-3">
            <h4 class="subtitle ">Air Quality CO2</h4></br>
            <div class="text-center" id="imgframe">
                <img src="./public/images/MerryIoT_Co2.png" class="product_IMG"><br />
                <a type="button" class="btn btn-primary product_btn"
                    href="./application/core/view/product/MerryIot/CO2 Sensor generic 0812.pdf" download>Click Download</a>
            </div>
        </div>
            <div class="col-lg-3 offset-lg-1">
                <h4 class="subtitle ">8dBi Antenna with Botton</h4></br>
                <div class="text-center" id="imgframe">
                    <img src="./public/images/8dBi_Antenna_botton.png" class="product_IMG"><br />
                    <a type="button" class="btn btn-primary product_btn"
                        href="./application/core/view/product/MerryIot/Outdoor 8dBi Specification.pdf" download>Click Download</a>
                </div>
            </div>
</div>
<div class="row justify-content-evenly" id="productmain">
    <div class="col-lg-3">
        <h4 class="subtitle ">8dBi Antenna with Locker</h4></br>
        <div class="text-center" id="imgframe">
            <img src="./public/images/8dBi_Antenna_Locker.png" class="product_IMG"><br />
            <a type="button" class="btn btn-primary product_btn"
                href="./application/core/view/product/MerryIot/Outdoor 8dBi Specification.pdf" download>Click Download</a>
        </div>
    </div>
</div>


<p>For more information please <a href="#contactus" id ="contactUsdrop">Contact us</a></p></br>