
    <h2 class="subtitle">About EZcomm</h2>
        <div class="col-lg-10 offset-lg-1" >

            <p class="aboutfont">
                <b>EZcomm Technology Co., Ltd</b>. founded in 2015. In view of the modern human requirement to provide the convenience of the quality life is the common goal for modern technology to pursue. Running everywhere of the telecommunication technology which has been fully utilized in normal life and wireless communication is one of the most reliant applications to adopt to our life. To combine the mission with passion, we form this company toward to the ultimate goal of success which will be through the dedication of devoted efforts of wireless communication products development and providing the professional services to customers by our leading edge technology and abundant synergy in our team.
            
                In compliance with the booming of RF communication, our products development plan will be starting from the core products of WiFi module and the application category will cover: Portable Router, Mobile phone, home entertainment appliances and Automotive. As for the long term planning, IOT (Internet Of Things) application will be the core, which includes: Consuming electronic product, Appliance…for purpose of the adoption of wireless communication products into life.
                
                EZcomm’s philosophy is to set the high ethics standard of business conduct, selfless dedication at work and market driven motives, while we synergize our competences of professional management, leading edge technology and efficient operation skill to enable our team to be with the sustainable growth and will share the harvest to the members and society.
            </p>
        </div>
</div>

    <div class="text-center">
        <img src="./public/images/intro.png" style="max-width:100%;max-height:100%" >
    </div>
</div>

