<!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1500">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="bbtn active" aria-current="true" aria-label="Slide 1"><b>1</b></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="bbtn" aria-label="Slide 2"><b>2</b></button>
     <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="bbtn" aria-label="Slide 3"><b>3</b></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="jumbotron" id="bannerfir">
            <div class="row">
                <div id="bannerfont" class = "col-lg-12 text-center">
                                <p class="spotlignt"><b>BLE Module</b></p><br/><br/>
                                <p class="lead"><b>EZM031</b> The Useful BLE Module(Pass-Through)</p>
                                <a class="btn banner_btn" href="#mainpage" id = "EZM031">More</a>
                </div>   
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="jumbotron" id="bannersec">
            <div class="row ">
                <div id="bannerfont" class = "col-lg-12 text-center">
                                <p class="spotlignt"><b>NEW Product</b></p><p><br/><br/>
                                <p class="lead">High Power Tracker</p>
                                <a class="btn banner_btn" href="#mainpage" id="Tracker-SIN-020B">More</a>
                </div>   
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="jumbotron" id="bannerthi">
            <div class="row">
                <div id="bannerfont" class = "col-lg-12 text-center">
                                <h2><p class="spotlignt"><b>New Product</b></p><br/><br/>
                                <p class="lead spotlignt">AP615JC Module</p></h2>
                               <a class="btn banner_btn" href="#mainpage" id="AP615JC">more</a>
                </div>   
            </div>
        </div>
      </div>
   
    </div> 
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
           <a href="#mainpage" id="MerryIot" class="banner_btn"> <img src="./public/images/banner-miner.png" class="d-block mw-100 mx-auto" id="banner_img" alt="..."></a>
        </div>
        <div class="carousel-item">
            <a href="#mainpage" id="Tracker-SIN-020B" class="banner_btn"><img src="./public/images/banner-SIN-020B.png" class="d-block mw-100 mx-auto" id="banner_img" alt="..."></a>
                <div class="carousel-caption d-none d-md-block">
                    <h3>SIN-020B</h3>
                    <p>Long Distance High Power Tracker.</p>
                </div>
        </div>
        <div class="carousel-item">
            <a href="#mainpage" id="AP615JC" class="banner_btn"><img src="./public/images/banner-AP615JC.png" class="d-block mw-100 mx-auto" id="banner_img" alt="..."></a>
                <div class="carousel-caption d-none d-md-block">
                    <h3>AP615JC</h3>
                    <p>All New for LoRa Sip Module.</p>
                </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>