<div id="copyright">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 offset-lg-2">
                <section>
                    <p2 class="footerfont">Copyright © 2021</br>
                    EZcomm Technology Co., Ltd.All Rights Reserved<br/>
                    捷揚電通股份有限公司</p2>
                </section>
          </div>
            <div class="col-lg-5 offset-lg-1"><!-- style=" border-left:1px solid #ccc; padding-left:25px;"-->
                <section>
                <p3 class="footerfont">E-mail:Sales@EZcomm.com.tw<br>
                Add:9F.-1, No. 77, Nanhua St., Taoyuan Dist., Taoyuan City 330003, Taiwan (R.O.C.)
                </p3>
                </section>
            </div>
        </div>  
    </div>
</div>