
    <h2 class="subtitle">LoRa</h2>
    <script src="./application/js/product.js"></script>

    <div class="row justify-content-evenly">
        <div class="col-lg-3">
            <div class="card card_content">
                <img src="./public/images/S7678S.png" class="card-img-top" alt="s76s">
                <div class="card-body text-center">
                    <h5 class="card-title">S76S</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#mainpage" class="btn btn-primary product_btn"data-id='S76S' id="S76S">More</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card card_content">
                <img src="./public/images/EZ2625-4.png" class="card-img-top" alt="EZ2625">
                <div class="card-body text-center">
                    <h5 class="card-title">S76S-EVK</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#mainpage" class="btn btn-primary product_btn"data-id = "S76S-EVK"id = "S76S-EVK">More</a>
                </div>
            </div>
        </div>
       
        <div class="col-lg-3" >
            <div class="card card_content">
                <img src="./public/images/AP615JC.png" class="card-img-top" alt="AP615JC">
                <div class="card-body text-center">
                    <h5 class="card-title">AP615JC</h5>
                    <p class="card-text">All New Lora Module.</p>
                    <a href="#mainpage" class="btn btn-primary product_btn"data-id="AP615JC" id="AP615JC" >More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card_content">
                <img src="./public/images/Antenna.png" class="card-img-top" alt="Antenna">
                <div class="card-body text-center">
                    <h5 class="card-title">8dBi Antenna</h5>
                    <p class="card-text">The Antenna used for Helium .</p>
                    <a href="#mainpage" class="btn btn-primary product_btn" data-id="Antenna" id="Antenna">More</a>
                </div>
            </div>
        </div>
                        <!-- <div class="col-lg-2 offset-lg-1" >
                            <div class="card">
                                <img src="./public/images/EZ32WL-EVK.png" class="card-img-top" alt="IMG1">
                            <div class="card-body text-center">
                                <h5 class="card-title">EZ32WL-EVK</h5>
                                <p class="card-text">ToBeUpdate.</p>
                                <a href="#mainapge" class="btn btn-primary product_btn" id="EZ32WL-EVK" >More</a>
                            </div>
                            </div>
                        </div> -->
        <div class="col-lg-3" >
            <div class="card card_content">
                <img src="./public/images/SIN-020B-1.png" class="card-img-top" alt="SIN-020B">
                <div class="card-body text-center">
                    <h5 class="card-title">SIN-020B</h5>
                    <p class="card-text">The module targets at the very long range LORA Tracker by providing up to 27.5 dbm LORA RF output.</p>
                    <a href="#mainpage" class="btn btn-primary product_btn" data-id = "Tracker-SIN-020B" id = "Tracker-SIN-020B">More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3" >
            <div class="card card_content">
               <img src="./public/images/SIN-020W.png" class="card-img-top" alt="SIN-020W">
                <div class="card-body text-center">
                    <h5 class="card-title">SIN-020W</h5>
                    <p class="card-text">The module targets at the very long range LORA Tracker by providing up to 27.5 dbm LORA RF output.</p>
                    <a href="#mainpage" class="btn btn-primary product_btn" data-id = "Tracker-SIN-020W" id = "Tracker-SIN-020W">More</a>
                </div>
            </div>
        </div>
    </div>
    
