<script src="./application/js/product.js"></script>

<h2 class="subtitle">BLE/WiFi</h2>
<div class="row justify-content-evenly">
    <div class="col-lg-3" >
        <div class="card card_content">
            <img src="./public/images/EZM031.png" class="card-img-top" alt="IMG2">
            <div class="card-body text-center">
                <h5 class="card-title">EZM031</h5>
                <p class="card-text">EZM031 is 32-bit microcontrollers based on Arm® Cortex®-M0 core.</p>
                <a type="button" href="#mainpage" class="btn btn-primary product_btn"data-id="EZM031" id="EZM031">More</a>
            </div>
        </div>
    </div>
        <div class="col-lg-3" >
            <div class="card card_content">
                <img src="./public/images/AI7688H.png" class="card-img-top" alt="IMG2">
                <div class="card-body text-center">
                    <h5 class="card-title">AI7688H</h5>
                    <p class="card-text">Wi-Fi b/g/n + 580 MHz MIPS CPU module.</p>
                    <a type="button" href="#mainpage" class="btn btn-primary product_btn" data-id="AI7688H" id="AI7688H">More</a>
                </div>
            </div>
        </div>
<!-- </div> -->

<!-- <div class="row justify-content-evenly"> -->
    <div class="col-lg-3" >
        <div class="card card_content">
            <img src="./public/images/AI7697HD.png" class="card-img-top" alt="IMG2">
            <div class="card-body text-center">
                <h5 class="card-title">AI7697HD</h5>
                <p class="card-text">ARM Cortex M4 MCU + Wi-Fi 802.11 a/b/g/n + BLE.</p>
                <a type="button" href="#mainpage" class="btn btn-primary product_btn" data-id="AI7697HD" id="AI7697HD">More</a>
            </div>
        </div>
    </div>
</div>
