<h2 class="subtitle">NB-IoT</h2>
<script src="./application/js/product.js"></script>
<div class="row justify-content-evenly">
    <div class="col-lg-3" >
        <div class="card card_content">
            <img src="./public/images/EZ2625.png" class="card-img-top" alt="IMG1">
        <div class="card-body text-center">
            <h5 class="card-title">EZ2625</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a type="button" href="#mainpage" class="btn btn-primary product_btn"data-id="EZ2625" id="EZ2625">More</a>
        </div>
        </div>
    </div>
    <div class="col-lg-3" >
        <div class="card card_content">
            <img src="./public/images/EZ2625-4.png" class="card-img-top" alt="IMG2">
        <div class="card-body text-center">
            <h5 class="card-title">EZ2625-EVK</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a type="button" href="#mainpage" class="btn btn-primary product_btn"data-id="EZ2625-EVK" id="EZ2625-EVK">More</a>
        </div>
        </div>
    </div>
    
</div>