<h2 class="subtitle">O D M</h2>
<script src="./application/js/product.js"></script>
<div class="row justify-content-evenly">
    <div class="col-lg-3" >
        <div class="card card_content">
            <img src="./public/images/SIN-021.png" class="card-img-top" alt="IMG1">
        <div class="card-body text-center">
            <h5 class="card-title">SIN-021</h5>
            <p class="card-text">LoRa Tracker For Drone Use</p>
            <a type="button" href="#mainpage" class="btn btn-primary product_btn"data-id="Tracker-SIN-021" id="Tracker-SIN-021">More</a>
        </div>
        </div>
    </div>
    <div class="col-lg-3" >
        <div class="card card_content">
            <img src="./public/images/SIN-020.png" class="card-img-top" alt="IMG2">
        <div class="card-body text-center">
            <h5 class="card-title">SIN-020</h5>
            <p class="card-text">LoRa Tracker For Ultra Long Distance.</p>
            <a type="button" href="#mainpage" class="btn btn-primary product_btn"data-id="Tracker-SIN-020" id="Tracker-SIN-020">More</a>
        </div>
        </div>
    </div>
    
</div>