<div class="container-fluid">
    <div class="row">
        <div class="card">
          <img src="./public/images/EZM031.png" class="card-img-top" alt="IMG1">
          <div class="card-body text-center">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary product_btn">Go somewhere</a>
          </div>
        </div>
  
    </div>
  </div>
  