<h3 class="text-center">We are the <b>agent in Taiwan and Asia</b>  area ,<br/>
    If you have any needs, please <a href="#contactus">contact us</a> <br/>
    See more in ...<a href="https://www.browan.com/product/XP/VJ" id="Browan" type="button" ><b>Browan</b></a>
</h3>
<br/>
<h2 class="subtitle">GateWay</h2>
<script src="./application/js/product.js"></script>

    <div class="row justify-content-evenly">
        <div class="col-lg-3" >
            <div class="card card_content">
                <img src="./public/images/ODU.png" class="card-img-top" alt="IMG1">
            <div class="card-body text-center">
                <h5 class="card-title">ODU</h5>
                <p class="card-text">Out Door Unit</p>
                <a type="button" href="#mainpage" class="btn btn-primary product_btn"data-id="ODU" id="ODU">More</a>
            </div>
            </div>
        </div>
        <div class="col-lg-3" >
            <div class="card card_content">
                <img src="./public/images/IDU.png" class="card-img-top" alt="IMG2">
            <div class="card-body text-center">
                <h5 class="card-title">IDU</h5>
                <p class="card-text">In Door Unit.</p>
                <a type="button" href="#mainpage" class="btn btn-primary product_btn"data-id="IDU" id="IDU">More</a>
            </div>
            </div>
        </div>
        
    </div>
    <h2 class="subtitle">Sensor</h2>
    <div class="row justify-content-evenly">
        <div class="col-lg-3" >
            <div class="card card_content">
                <img src="./public/images/LoRa_Sensor.png" class="card-img-top" alt="IMG1">
            <div class="card-body text-center">
                <h5 class="card-title">LoRa Sensor</h5>
                <p class="card-text">Many kinds of Lora Sensor</p>
                <a type="button" href="#mainpage" class="btn btn-primary product_btn"data-id="Sensor" id="Sensor">More</a>
            </div>
            </div>
        </div>

        <div class="col-lg-3" >
            <div class="card card_content">
                <img src="./public/images/MerryIoT_Miner.png" class="card-img-top" alt="IMG2">
            <div class="card-body text-center">
                <h5 class="card-title">MerryIoT</h5>
                <p class="card-text">Home Monitoring in the NEW age.</p>
                <a type="button" href="#mainpage" class="btn btn-primary product_btn" data-id="MerryIot" id="MerryIot">More</a>
            </div>
            </div>
        </div>
    </div>