
<div class="row">
    <div class="col-lg-12">
        <h3 class="subtitle">Feature</h3>
    </div>
</div>
<div class="row">
    <div class="text-center" id="imgframe">
        <img src="./public/images/Antenna.png" class="product_IMG" >
    </div>
</div>

<div class="row" id="productmain">
    <div class="col-lg-12 "><h4 class="subtitle ">Product Picture</h4></br>
        <img src="./public/images/Antenna_banner.png" class="img-fluid function_Block" >
    </div>
</div>

<div class ="row">
    <div class="col-lg-12 text-center">
    
        <h4 class="subtitle">Buy Information</h4></br>
        
   <h3> Enhance signal strength and coverage, allowing more witnesses to obtain more HNT <br/></h3>

   <ul class="list-group">
    <li class="list-group-item active" aria-current="true">Electrical Specifications</li>
    <li class="list-group-item"><b>Maxium Power : </b>50w</li>
    <li class="list-group-item"><b>Connector Type : </b>N-J</li>
    <li class="list-group-item"><b>Dimension : </b>Φ20*900(mm)</li>
    <li class="list-group-item"><b>FreqRange : </b>860-930MHz</li>
    <li class="list-group-item"><b>Gain : </b>8±0.5dBi</li>
    <li class="list-group-item"><b>Horizontal Beamwidth : </b>360°</li>
    <li class="list-group-item"><b>Vertical Beamwidth : </b>30±2º</li>
    </ul></br>
         <p>For more information please <a href="#contactus" id ="contactUsdrop">Contact us</a></p></br>
    </div>
</div>
