
<div class="row">
    <div class="col-lg-12">
        <h3 class="subtitle">Feature</h3>
    </div>
</div>
<div class="row">
    <div class="text-center" id="imgframe">
        <img src="./public/images/ODU.png" class="product_IMG" >
    </div>
</div>
<div class="row" id="productmain">
    <div class="col-lg-3"><h4 class="subtitle ">General</h4></br>
        <ol>
            <li>Model Name: WAPS-232N</li>
            <li>Dimension L:230 x W:200 x H:68mm  Weight:2.05KG </li>
            <li>Power Supply: 55VDC/0.6A via PoE adapter (Onsemi PD-9001GR 802.11at)</li>
            <li>Operating Temperature: -20ºC ~ 60ºC</li>
        </ol>
    </div>
    <div class="col-lg-3 offset-lg-1"><h4 class="subtitle ">Specification</h4></br>
        <ol>
            <li>Frequency Band:EU 863~870 MHz / US 902~928 MHz / India 865~867 MHz / AS 923 MHz / CN 470~510MHz / AU915~928 MHz</li>
            <li>Number of Channels: Up to 16 Channels</li>
            <li>WAN Protocol: LoRAWAN</li>
            <li>Modulation Based on LoRaWAN</li>
        </ol>
    </div>
    <div class="col-lg-3 offset-lg-1"><h4 class="subtitle ">RF Transceiver</h4></br>
        <ol>
            <li>RF Transceiver: SX1301 with SX1257</li>
            <li>Transmit RF Power: 0.5W (up to 27 dBm)</li>
            <li>Receive Sensitivity: Down to -142 dBm</li>
        </ol></br>

    </div>
</div>
<div class ="row">
    <div class="col-lg-12 ">
    
        <h4 class="subtitle ">Document Download</h4></br>
        <h5>Product Brief:</h5>


    </div>
</div>
<p>For more information please <a href="#contactus" id ="contactUsdrop">Contact us</a></p></br>